{% extends 'inicio.html' %}


{% block contenido %}
<center>
<h1>Busqueda</h1>

<p>
    
    
    <form class="btn btn-secondary" action={% url 'buscar_post' %}>
    
        {{form}}
        <button>Buscar</button>

    </form>
    
    
    {% if listado_post %}
        
        {%for post in listado_post%}
        <li>
            <h5>
            Titulo: {{post.titulo}} | Subtitulo: {{post.subtitulo}} | Autor: {{post.autor}}|
            <a class="btn btn-secondary" href={% url 'editar_post' post.id %}>Editar</a>
            <a class="btn btn-secondary" href={% url 'eliminar_post' post.id %}>Eliminar</a>
            <a class="btn btn-secondary" href={% url 'ver_mas' post.id %}>Ver mas</a>
            </h5>
        </li>
        
        {%endfor%}
        
    
    {% else %}
        <ul>
            <li>No se ha encontrado ningún valor.</li>
        </ul>
    
        {% endif %}
        <a class="btn btn-primary" href={% url 'crear_post' %}>Crear Post</a>
        <a class="btn btn-primary" href={% url 'buscar_post' %}>Volver a la lista</a>
    
</p>
</center>
    {% endblock contenido %}