{% extends 'inicio.html' %}

{% block contenido %}
<script>window.CKEDITOR_BASEPATH = '/static/ckeditor/ckeditor/';</script>
<center>
<h1>Editar Post</h1>

<p>
  <form action={% url 'editar_post' post.id %} method="post" enctype="multipart/form-data">
    
    {% csrf_token %}
    <table align='center'>{{form.as_table}}{{form.media}}</table>

    <br>
    
    <button class="btn btn-primary" type="submit">Guardar</button>
    <a class="btn btn-primary" href={% url 'buscar_post' %}>Volver</a>
  
  </form>
</p>
</center>
{% endblock contenido %}