{% extends 'inicio.html' %}

{% block contenido %}
<center>
<div class="card-group">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Axel Godoy</h5>
        <p class="card-text">25 años</p>
        <p class="card-text">
          <small class="text-muted">Un estudiante bonaerense de Coderhouse</small>
        </p>
      </div>
    </div>
    
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Victoria Cruz Pintor</h5>
        <p class="card-text">28 años</p>
        <p class="card-text">
          <small class="text-muted">Una estudiante tucumana de Coderhouse</small>
        </p>
      </div>
    </div>
    
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Alexis Borsato</h5>
        <p class="card-text">24 años</p>
        <p class="card-text">
          <small class="text-muted"
            >Otro estudiante bonaerense de Coderhouse</small
          >
        </p>
      </div>
    </div>
    
</div>
</center>
{% endblock contenido %}